doctype html
html
  head
    title About Us
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h1 Event Management App
      nav
        a.btn(href='/') Home
        a(href='/about') About

    main
      h2 About Us
      p This is the Event Management App where you can manage your events easily. 
      p Our mission is to help you organize events efficiently and effectively.
      p For more information, contact us at team5@anurag.edu.in.

    footer
      p &copy; 2024 Event Management App
