doctype html
html
  head
    title Event Management App
    link(rel='stylesheet', href='/css/home.css')
  body
    header
      h1 Event Management App
      nav
        a.btn(href='/') Home
        a(href='/register') Register
        a(href='/login') Login
        a(href='/about') About
        a(href='/upcoming') Event List

    main.container
      .image-container
        img(src='/images/images.jpeg', alt='Event Image 1')
        img(src='/images/istockphoto-1191395009-1024x1024.jpg', alt='Event Image 2')
      .content
        h2 Welcome to the Event Management App
        p This application helps you manage your events efficiently and effectively.
        h3 Features
        ul
          li User-friendly interface for easy navigation.
          li Create, edit, and delete events with just a few clicks.
          li Set reminders for important dates and deadlines.
          li View all your upcoming events at a glance.
          li Secure login and user authentication to protect your data.
          
    footer
      p &copy; 2024 Event Management App
